# Exploratory Data Analysis


_Jerel Novick_

---

In [19]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import pandas_profiling as pp
import scipy.stats as stats
import numpy as np
from datetime import datetime, timedelta
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', 9999)
pd.set_option('display.max_rows', 200)

In [20]:
#Read in the master dataset
nba_data = pd.read_csv('./data/2012-18_officialBoxScore.csv')

In [21]:
nba_new = nba_data[['gmDate','teamAbbr','teamRslt','opptAbbr','opptRslt']]

In [22]:
nba_new.insert(3, "teamPtsFor", 0)
nba_new.insert(4, "teamPtsAgnst", 0)
nba_new.insert(7, "opptPtsFor", 0)
nba_new.insert(8, "opptPtsAgnst", 0)

In [23]:
nba_new['gmDate'] = pd.to_datetime(nba_new['gmDate'])

In [24]:
#converted the teamRsl and opptRslt columns from Win and Loss to O for Loss and 1 for Win.
#converted the teamLoc and opptLoc columns from Home and Awaay to O for Away and 1 for Home.
nba_new['teamRslt'] = nba_new['teamRslt'].apply(lambda x: 0 if x=='Loss' else 1)
nba_new['opptRslt'] = nba_new['opptRslt'].apply(lambda x: 0 if x=='Loss' else 1)

In [25]:
nba_new.head()

,gmDate,teamAbbr,teamRslt,teamPtsFor,teamPtsAgnst,opptAbbr,opptRslt,opptPtsFor,opptPtsAgnst
0,2012-10-30,WAS,0,0,0,CLE,1,0,0
1,2012-10-30,WAS,0,0,0,CLE,1,0,0
2,2012-10-30,WAS,0,0,0,CLE,1,0,0
3,2012-10-30,CLE,1,0,0,WAS,0,0,0
4,2012-10-30,CLE,1,0,0,WAS,0,0,0

In [26]:
nba_new = nba_new.drop_duplicates()

In [27]:
nba_new.head()

,gmDate,teamAbbr,teamRslt,teamPtsFor,teamPtsAgnst,opptAbbr,opptRslt,opptPtsFor,opptPtsAgnst
0,2012-10-30,WAS,0,0,0,CLE,1,0,0
3,2012-10-30,CLE,1,0,0,WAS,0,0,0
6,2012-10-30,BOS,0,0,0,MIA,1,0,0
9,2012-10-30,MIA,1,0,0,BOS,0,0,0
12,2012-10-30,DAL,1,0,0,LAL,0,0,0

In [28]:
nba_new = nba_new.reset_index(drop=True)

In [29]:
nba_new.head()

,gmDate,teamAbbr,teamRslt,teamPtsFor,teamPtsAgnst,opptAbbr,opptRslt,opptPtsFor,opptPtsAgnst
0,2012-10-30,WAS,0,0,0,CLE,1,0,0
1,2012-10-30,CLE,1,0,0,WAS,0,0,0
2,2012-10-30,BOS,0,0,0,MIA,1,0,0
3,2012-10-30,MIA,1,0,0,BOS,0,0,0
4,2012-10-30,DAL,1,0,0,LAL,0,0,0

In [30]:
nba_new = nba_new.iloc[::2,:]
nba_new = nba_new.reset_index(drop=True)

In [31]:
nba_new.head()

,gmDate,teamAbbr,teamRslt,teamPtsFor,teamPtsAgnst,opptAbbr,opptRslt,opptPtsFor,opptPtsAgnst
0,2012-10-30,WAS,0,0,0,CLE,1,0,0
1,2012-10-30,BOS,0,0,0,MIA,1,0,0
2,2012-10-30,DAL,1,0,0,LAL,0,0,0
3,2012-10-31,DEN,0,0,0,PHI,1,0,0
4,2012-10-31,IND,1,0,0,TOR,0,0,0

In [32]:
nba_stand = pd.read_csv('./data/2012-18_standings.csv')
nba_stand['stDate'] = pd.to_datetime(nba_stand['stDate'])

In [33]:
nba_stand.head()

,stDate,teamAbbr,rank,rankOrd,gameWon,gameLost,stk,stkType,stkTot,gameBack,ptsFor,ptsAgnst,homeWin,homeLoss,awayWin,awayLoss,confWin,confLoss,lastFive,lastTen,gamePlay,ptsScore,ptsAllow,ptsDiff,opptGmPlay,opptGmWon,opptOpptGmPlay,opptOpptGmWon,sos,rel%Indx,mov,srs,pw%,pyth%13.91,wpyth13.91,lpyth13.91,pyth%16.5,wpyth16.5,lpyth16.5
0,2012-10-30,ATL,3,3rd,0,0,-,-,0,0.5,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0,0.500,0.0000,0.0000,82.0000,0.000,0.000,82.000
1,2012-10-30,BKN,3,3rd,0,0,-,-,0,0.5,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0,0.500,0.0000,0.0000,82.0000,0.000,0.000,82.000
2,2012-10-30,BOS,14,14th,0,1,L1,loss,1,1.0,107,120,0,0,0,1,0,1,0,0,1,107.0,120.0,-13.0,0,0,0,0,0.0,0.0,-13.0,-13.0,0.072,0.1687,13.8334,68.1666,0.131,10.742,71.258
3,2012-10-30,CHA,3,3rd,0,0,-,-,0,0.5,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0,0.500,0.0000,0.0000,82.0000,0.000,0.000,82.000
4,2012-10-30,CHI,3,3rd,0,0,-,-,0,0.5,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0,0.500,0.0000,0.0000,82.0000,0.000,0.000,82.000

In [35]:
nba_stand.insert(1, "gmDate",0)

In [36]:
nba_stand['gmDate'] = pd.to_datetime(nba_stand['gmDate'])

In [ ]:
nba_stand.insert(1, "month", 0)

In [ ]:
for g in range(0, len(nba_stand)):
    nba_stand['gmDate'] = (nba_stand['stDate'] + timedelta(days=1))

In [ ]:
nba_stand['gmDate'] = (nba_stand['stDate'] + timedelta(days=1))

In [17]:
nba_new.head()

,gmDate,teamAbbr,teamRslt,teamPtsFor,teamPtsAgnst,opptAbbr,opptRslt,opptPtsFor,opptPtsAgnst
0,2012-10-30,WAS,0,0,0,CLE,1,0,0
1,2012-10-30,BOS,0,0,0,MIA,1,0,0
2,2012-10-30,DAL,1,0,0,LAL,0,0,0
3,2012-10-31,DEN,0,0,0,PHI,1,0,0
4,2012-10-31,IND,1,0,0,TOR,0,0,0

In [18]:
for s in range(0, len(nba_stand)):
    for d in range(0, len(nba_new)):
        if (nba_stand.iloc[s,0] + timedelta(days=1)) == (nba_new.iloc[d,0]) and nba_stand.iloc[s,1] == nba_new.iloc[d,1]:
            nba_new.iloc[d,3] = nba_stand.iloc[s,10]
            nba_new.iloc[d,4] = nba_stand.iloc[s,11]

KeyboardInterrupt:

In [ ]:
for s in range(0, len(nba_stand)):
    for d in range(0, len(nba_new)):
        if (nba_stand.iloc[s,0] + timedelta(days=1)) == (nba_new.iloc[d,0]) and nba_stand.iloc[s,1] == nba_new.iloc[d,5]:
            nba_new.iloc[d,7] = nba_stand.iloc[s,10]
            nba_new.iloc[d,8] = nba_stand.iloc[s,11]